extends include/page.pug

block content
		#divEditArea
			div.panel.panel-default
				div.panel-heading
					| 基本信息
				div.panel-body
					form.form-horizontal
						.form-group
							label.col-sm-2.control-label(for='txtName') Name(*)
							.col-sm-10
								input#txtName.form-control(type='text', placeholder="mock的名称", name="name")
						.form-group
							label.col-sm-2.control-label(for='txtProject') Proejct
							.col-sm-10
								input#txtName.form-control(type='text', placeholder="mock所属的项目，多个使用,分隔", name="project")
						.form-group
							label.col-sm-2.control-label(for='txtCreator') Creator
							.col-sm-10
								input#txtCreator.form-control(type="text", placeholder="创建者，记录好人标识~~", name="creator")
						.form-group
							label.col-sm-2.control-label(for='txtDescription') Description
							.col-sm-10
								textarea#txtDescription.form-control(placeholder="创建者，记录好人标识~~", row="5", name="description")
			div.panel.panel-default
				div.panel-heading
					| Mock API信息
				div.panel-body
					form.form-horizontal
						.form-group
							label.col-sm-2.control-label(for='txtHost') Host(*)
							.col-sm-10
								input#txtHost.form-control(type='text', placeholder="mock的服务器名，多个使用,分割", name="host")
						.form-group
							label.col-sm-2.control-label(for='txtPort') Port(*)
							.col-sm-10
								input#txtPort.form-control(type='number', placeholder="服务器端口，默认80", value="80", name="port")
						.form-group
							label.col-sm-2.control-label(for='txtPath') Path(*)
							.col-sm-10
								input#txtPath.form-control(type='text', placeholder="路径地址，/开头", value="", name="path")
						.form-group
							label.col-sm-2.control-label(for='txtExample') Example
							.col-sm-10
								input#txtExample.form-control(type='text', placeholder="给个样例，方便测试~~", name="example")
						.form-group
							label.col-sm-2.control-label(for='txtWiki') Wiki
							.col-sm-10
								input#txtWiki.form-control(type='text', placeholder="贴个wiki地址，查问题保平安", value="", name="wiki")
			div.panel.panel-default
				div.panel-heading
					| API内容
				div.panel-body
					form.form-horizontal
						.form-group
								label.col-sm-2.control-label(for='txtHost') Data Type(*)
								.col-sm-10
									select#sltType.form-control(name="type")
										option(value="json") JSON
										option(value="javascript") JS
										option(value="xml") XML
										option(value="html") HTML
						.form-group
							.col-sm-offset-2.col-sm-10
								.checkbox
									label
										input#chkIsBefore(type='checkbox',name="isBefore", value="1")
										| 前置操作
						.form-group#divBefore(style="display:none;")
							label.col-sm-2.control-label(for='txtBefore') Before Get
							.col-sm-10
								pre.span12
									p 自定义处理逻辑，可以定义一些自定义处理逻辑，传入参数如下：
									p
										code ctx
										| : 当前请求的ctx实例，内容请参考
										code koa2
										| 官方文档，常用对象/方法包括：
										p(style="padding-left: 15px;")
											code ctx.query
											| , 获取query信息；
										p(style="padding-left: 15px;")
											code ctx.param
											| , 获取自定义映射uri参数；
									p
										code mock
										| : 框架封装对象，可以通过它操作对请求做进一步处理，常用的对象/方法包括：
										p(style="padding-left: 15px;")
											code mock.query
											| , 同
											code ctx.query
										p(style="padding-left: 15px;") 
											code mock.param
											|, 同
											code ctx.query
										p(style="padding-left: 15px;")
											code mock.status(status, percent) 
											| 按照一定概率(percent)返回指定的状态码(status)，如
											code mock.status(500, 20)
											| , 20%的几率返回500；
										p(style="padding-left: 15px;")
											code mock.delay(delaytime, percent)
											| 按照一定的概率(percent)，延迟指定delaytime ms，如
											code await mock.delay(1000, 10)
											| , 10的几率延迟1000ms
								.span12
									textarea#txtBefore.form-control(placeholder="文本内容，可不填。", row="10", name="onBefore")
						.form-group
							.col-sm-offset-2.col-sm-10
								.checkbox
									label
										input#chkIsContent(type='checkbox',name="isContent", value="1")
										| 使用自定义数据
						.form-group#divContent(style="display:none;")
							label.col-sm-2.control-label(for='txtContent') Content
							.col-sm-10
								pre.span12
									| 自定义数据
								.span12
									textarea#txtContent.form-control(placeholder="文本内容，可不填。", row="10", name="content")
						.form-group
							.col-sm-offset-2.col-sm-10
								.checkbox
									label
										input#chkIsProxy(type='checkbox',name="isProxy", value="1")
										| 抓取代理
						.form-group#divProxy(style="display:none;")
							label.col-sm-2.control-label(for='txtProxy') 代理
							.col-sm-10
								input#txtProxy.form-control(type='text', placeholder="代理配置，如10.110.28.204", name="proxy")
						.form-group
							.col-sm-offset-2.col-sm-10
								.checkbox
									label
										input#chkIsFilter(type='checkbox',name="isFilter", value="1")
										| 数据过滤器
						.form-group#divFilter(style="display:none;")
							label.col-sm-2.control-label(for='txtBefore') Filter
							.col-sm-10
								pre.span12
									p 自定义处理逻辑，可以定义一些自定义处理逻辑，传入参数如下：
									p
										code ctx
										| : 当前请求的ctx实例，内容请参考
										code koa2
										| 官方文档，常用对象/方法包括：
										p(style="padding-left: 15px;")
											code ctx.query
											| , 获取query信息；
										p(style="padding-left: 15px;")
											code ctx.param
											| , 获取自定义映射uri参数；
									p
										code mock
										| : 框架封装对象，可以通过它操作对请求做进一步处理，常用的对象/方法包括：
										p(style="padding-left: 15px;")
											code mock.query
											| , 同
											code ctx.query
										p(style="padding-left: 15px;") 
											code mock.param
											|, 同
											code ctx.query
										p(style="padding-left: 15px;")
											code mock.status(status, percent) 
											| 按照一定概率(percent)返回指定的状态码(status)，如
											code mock.status(500, 20)
											| , 20%的几率返回500；
										p(style="padding-left: 15px;")
											code mock.delay(delaytime, percent)
											| 按照一定的概率(percent)，延迟指定delaytime ms，如
											code await mock.delay(1000, 10)
											| , 10的几率延迟1000ms
								.span12
									textarea#txtFilter.form-control(placeholder="数据过滤器", row="10", name="filter")
						.form-group
							.col-sm-offset-2.col-sm-10
								button#btnSubmit.btn.btn-default(type='submit',data-id=_id ? _id : "", data-save-url=mock.uri("be/save"), data-get-url=mock.uri("be/get")) Submit


block js
	script(type="text/javascript",src=mock.uri("plugin/codemirror-5.28.0/js/codemirror.min.js", true))
	script(type="text/javascript",src=mock.uri("plugin/codemirror-5.28.0/js/htmlmixed.min.js", true))
	script(type="text/javascript",src=mock.uri("plugin/codemirror-5.28.0/js/javascript.min.js", true))
	script(type="text/javascript",src=mock.uri("plugin/codemirror-5.28.0/js/xml.min.js", true))
	script(type="text/javascript",src=mock.uri("js/edit.js?v=2", true))
block css
	link(rel='stylesheet', href=mock.uri("plugin/codemirror-5.28.0/css/codemirror.min.css", true))